body {
  background-color: #151515;

}

.main-container {
  background-image: url(../images/RickAndMorty-bg.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}

.navbar {
  margin-top: 0%;
  margin-bottom: 30px;
}


.navbar-toggler {
  color: white !important;
}



a {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.row {
  margin-bottom: 0;
}

.card {
  background-color: #CEF6D8;
  height: 645px;
  width: 300px;
  padding: 0;
  margin: 20px;
  border-radius: 50px;
  border: solid 3px black;
  overflow:hidden;
}

.card-title {
  text-align: center;
  margin-top: 0;
  background: rgba(0,0,0,0.3); 
  margin-bottom: 0;
}

.card-text {
  margin-top: 0;
  font-size: 12px ;   
}


.card-image-top {
  height: 250px;
  width: 100% !important;
  object-fit: cover;
}

.jumbotron {
  background-image: url(../images/rick-morty-main-994x400.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 0%;
}

.jumbo-text {
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-shadow: -1px -1px 1px #aaa,
    2px 10px 2px rgba(0,0,0,0.5),
    8px 8px 10px rgba(0,0,0,0.7),
    2px 2px 14px rgba(0,0,0,0.4);
}

/* joke page start */

.joke-button {
  width: 100px;
  margin: auto;
}

.joke-box {
  overflow-y: auto;
}

.list-group-item {
  background-color: #CEF6D8;
  overflow: hidden;
}

.lead {
  margin: 0 auto;
}

.docu-generator {
  font-size: 20px;
  text-align: center;
  font-style: bold;
}

.imageContainer {
  position: relative;
  width: 300px;
}

.hoverCard {
  display: none;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  font-style: bold;
  background-color: rgb(24, 170, 24);

}

.quoteText {
  margin-top: 90%;
}

.imageContainer:hover .hoverCard {
  display: block;
}
 
.jokebtn {
  width: 300px;
  margin: 0 auto;
}

#mortyGroup {
  overflow: hidden;
}

/* dimension page start*/

.container-dimension {
  background-image: url(../images/space-bg.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;
}

/* dafs */

.collapsible {
  cursor: pointer;
  padding: 0;
  height: 300px;
  width: 300px;
  background-image: url(../images/portal.gif);
  background-color: transparent;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 20px 0 0 0;
}

.active, .collapsible:hover {
  background-color: transparent;
  border: none; 
  padding: 0;
  outline: 0;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 200px;
  opacity: 0.5;

}

.container-hover {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}
.container-hover:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.dimension-name {
  color: white;
  font-size: 20px;
  font-style: bold;
  text-align: center;
}

.floating {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.text {
  font-size: 30px;
}