body {
  background-color: #151515;

}

.main-container {
  background-image: url(../images/RickAndMorty-bg.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
}

.navbar {
  margin-top: 0%;
  margin-bottom: 30px;
}


.navbar-toggler {
  color: white !important;
}



a {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.row {
  margin-bottom: 30px;
}

.card {
  background-color: #CEF6D8;
  height: 620px;
  width: 300px;
  padding: 0;
  margin: 20px;
  border-radius: 25px;
  border: solid 3px black;
  overflow:hidden;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  background: rgba(0,0,0,0.3); 
}

.card-text {
  font-size: 14px ;
}

.card-image-top {
  height: 250px;
  width: 100% !important;
  object-fit: cover;
}

.jumbotron {
  background-image: url(../images/rick-morty-main-994x400.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 0%;
}

.jumbo-text {
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-shadow: -1px -1px 1px #aaa,
    2px 10px 2px rgba(0,0,0,0.5),
    8px 8px 10px rgba(0,0,0,0.7),
    2px 2px 14px rgba(0,0,0,0.4);
}

/* joke page start */

.joke-button {
  width: 100px;
  margin: auto;
}

.joke-box {
  overflow-y: auto;
  border-radius: 0%;
}

.list-group-item {
  background-color: #CEF6D8;
  overflow: hidden;
}

.lead {
  margin: 0 auto;
  padding:1px;
  border:2px solid #021a40;
  background-color: whitesmoke;
}
.docu-generator {
  font-size: 20px;
  text-align: center;
  font-style: bold;
}

.jokebtn {
  width: 300px;
  margin: 0 auto;
}

#mortyGroup {
  overflow: hidden;
}

/* dimension page start*/

.container-dimension {
  background-image: url(../images/space-bg.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1000px;
}

.collapsible {
  cursor: pointer;
  padding: 0;
  height: 300px;
  width: 300px;
  background-image: url(../images/portal.gif);
  background-color: transparent;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 20px 0 0 0;
}

.active, .collapsible:hover {
  background-color: transparent;
  border: none; 
  padding: 0;
  outline: 0;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 200px;
  opacity: 0.5;
}